@media (min-width: 1280px) {
    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
        justify-content: space-around;
    }
    .logo {
        width: 250px;
    }
    .search-bar input {
        font-size: 16px;
    }
    .main-navbar a {
        font-size: 14px;
    }
    .main-navbar li {
        margin: 15px;
    }
    .copy-header {
        font-size: 14px;
        font-weight: 400;
    }
    .border-img {
        width: 25%;
    }
    .footer-flex {
        display: flex;
        justify-content: center;
    }
}
