@media (min-width: 769px) {
    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .logo {
        width: 250px;
    }
    .search-bar input {
        font-size: 14px;
    }
    .main-navbar a {
        font-size: 14px;
    }
    .main-navbar li {
        margin: 15px;
    }
    .copy-header {
        font-size: 14px;
        max-width: none;
        font-weight: 400;
    }
    .border-img {
        width: 50%;
    }

    .text-descripcion {
        display: none;
    }
    .margin-article {
        box-shadow: none;
    }
    .margin-article:hover {
        transform: scale(1.08);
        position: relative;
        z-index: 10;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .truck-icon:hover {
        transform: rotate(-90deg);
        transition-duration: 500ms;
    }
    .margin-article:hover .text-descripcion {
        display: initial;
    }
}
